<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>javaweb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Messageboard</servlet-name>
    <servlet-class>servlet.Messageboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messageboard</servlet-name>
    <url-pattern>/messageboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>longinServlet</servlet-name>
    <servlet-class>servlet.longinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>longinServlet</servlet-name>
    <url-pattern>/longinservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Person</servlet-name>
    <servlet-class>servlet.HandlePerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Person</servlet-name>
    <url-pattern>/person</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/productservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recentProductServlet</servlet-name>
    <servlet-class>servlet.recentProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recentProductServlet</servlet-name>
    <url-pattern>/recentproductservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserMangementServlet</servlet-name>
    <servlet-class>servlet.UserMangementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMangementServlet</servlet-name>
    <url-pattern>/usermangementservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MerchantMangementServlet</servlet-name>
    <servlet-class>servlet.MerchantMangementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchantMangementServlet</servlet-name>
    <url-pattern>/merchantmangementservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DemandMangementServlet</servlet-name>
    <servlet-class>servlet.DemandMangementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandMangementServlet</servlet-name>
    <url-pattern>/demandmangementservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UDemandMangementServlet</servlet-name>
    <servlet-class>servlet.UDemandMangementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UDemandMangementServlet</servlet-name>
    <url-pattern>/udemandmangementservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UorderMangementServlet</servlet-name>
    <servlet-class>servlet.UorderMangementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UorderMangementServlet</servlet-name>
    <url-pattern>/uordermangementservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UorderuploadServlet</servlet-name>
    <servlet-class>servlet.UorderuploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UorderuploadServlet</servlet-name>
    <url-pattern>/uorderuploadservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>APersonalServlet</servlet-name>
    <servlet-class>servlet.APersonalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>APersonalServlet</servlet-name>
    <url-pattern>/apersonalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UPersonalServlet</servlet-name>
    <servlet-class>servlet.UPersonalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UPersonalServlet</servlet-name>
    <url-pattern>/upersonalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AMRateServlet</servlet-name>
    <servlet-class>servlet.AMRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AMRateServlet</servlet-name>
    <url-pattern>/amrateservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/newsservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/searchservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>servlet.HandleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>servlet.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PSoldOutServlet</servlet-name>
    <servlet-class>servlet.PSoldOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PSoldOutServlet</servlet-name>
    <url-pattern>/psoldoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageUp</servlet-name>
    <servlet-class>servlet.MessageUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageUp</servlet-name>
    <url-pattern>/Messageup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Messageadd</servlet-name>
    <servlet-class>servlet.Messageadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messageadd</servlet-name>
    <url-pattern>/messageadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveAdministratorServlet</servlet-name>
    <servlet-class>servlet.SaveAdministratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAdministratorServlet</servlet-name>
    <url-pattern>/saveA</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveUserServlet</servlet-name>
    <servlet-class>servlet.SaveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserServlet</servlet-name>
    <url-pattern>/saveU</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>OrderUpServlet</servlet-name>
    <servlet-class>servlet.OrderUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderUpServlet</servlet-name>
    <url-pattern>/orderup</url-pattern>
  </servlet-mapping>
</web-app>